

*.txt

*.html

MatchStats-output.html

MatchStats-output.txt

MatchDetails-output.txt

WorldCup-MatchBase.html

MatchDetails-output.txt

MatchStats-output.txt

MatchDetails-output.txt

MatchRestuls-output.txt

MatchStats-output.html

MatchStats-output.txt

WorldCup-MatchBase.html

MatchRestuls-output.txt

info.py
